@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    116.82deg,
    #050513 6%,
    #000010 12%,
    #000010 24%,
    #050513 29%,
    #050317 39%,
    #000418 47%,
    #06051a 54%,
    #07061b 61%,
    #07061e 71%,
    #07061d 97%,
    #0b092c 100%
  );
  background-attachment: fixed;
}

.Main-Img img {
  height: 400px;
  width: 400px;
}

.circle {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}